/*...Шапка-меню...*/
.panel {
  min-height: 100%;
  background: #02918c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
}
.abroad {
  width: 1185px;
  margin: 0 auto;
  overflow: hidden;
}

.logo-nav {
  
  text-decoration: none;
  font-size: 26.18px;
  color: rgb(255, 255, 255);
  float: left;
  margin-top: 9px;
  margin-bottom: 16px;
}

.text-nav {
  color: #cfc91d;
  text-transform: uppercase;
}

ul {
  float: right;
  font-size: 12px;
}

li {
  float: left;
  box-sizing: border-box;
  margin-left: 50px;
  margin-top: 22px;
  text-transform: uppercase;
}

.serch-nav {
  color: #ffffff;
  text-decoration: none;
}
.serch-nav:visited {
  color: #ffffff;
  text-decoration: none;
}

.serch-nav:hover {
  color: #cfc91d;
}
.serch-nav:active {
  text-decoration: none;
}
/*...Загаловок...*/
header {
  text-align: center;
  background: url('../image/man.jpg') no-repeat;
  background-size: cover;
}


.log {
  padding-top: 216px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 16px;
  letter-spacing: 1px;
}

h1 {
  font-size: 68px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 22px;
  width: 1213px;
  margin: 0 auto;
}

h5 {
  font-size: 18px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.bracets {
  background: url('../icons/brackets.png') no-repeat center center;
  background-size: cover;
  width: 130px;
  height: 30px;
  margin: 0 auto;
  margin-top: 52px;
  display: block;
}

.more-info {
  border: none;
  padding: 13px 43px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  background: #cfc91d;
  margin-top: 50px;
  margin-bottom: 210px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*...Первая секция, об авторе*/
.about {
  text-align: center;
}

.tab-text {
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 84px;
  color: #02918c;
  text-transform: uppercase;
}

.img-text {
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 14px;
  display: block;
}

.text-side {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #7e8287;
  line-height: 36.5px;
  width: 890px;
}

.bold-text {
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.table-form {
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 98px;
}

.table-content {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #d9dbdb;
  padding: 0 60px;
}

.table-content:last-child {
  border: none;
}

.sprite {
  margin: 0 auto;
  margin-top: 34px;
  margin-bottom: 28px;
  background-image: url('../icons/spriteabout.png');
  background-repeat: no-repeat;
  display: block;
}

.lamp {
    width: 32px;
    height: 32px;
    background-position: -44px -4px;
}

.pen {
    width: 32px;
    height: 32px;
    background-position: -124px -4px;
}

.mech {
    width: 32px;
    height: 32px;
    background-position: -84px -4px;
}

.disp {
    width: 32px;
    height: 32px;
    background-position: -4px -4px;
}

.table-log {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #7e8287;
  font-weight: bold;
}

.table-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #7e8287;
    width: 162px;
    line-height: 21.5px;
    margin-top: 20px;
    margin-bottom: 52px;
}

/*...Вторая секция, услуги автора...*/
.table-services {
  background: url('../image/hands.jpg') no-repeat;
  background-size: cover;
}

.table-info {
  width: 550px;
  margin-left: 128px;
  padding-top: 62px;
  padding-bottom: 73px;
}

.abroad2 {
  width: 471px;
}

.table-content2 {
  display: inline-block;
  text-align: left;
  padding-right: 111px;
}

.tabl-img {
  padding-top: 12px;
  padding-bottom: 14px;
  display: block;
}

.text-aside {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #7e8287;
  line-height: 34.5px;
  padding-bottom: 30px;
}

.sprite2 {
  margin-top: 24px;
  margin-bottom: 15px;
  background-image: url('../icons/spriteserv.png');
  background-repeat: no-repeat;
  display: block;
}

.alamclock {
    width: 32px;
    height: 33px;
    background-position: -4px -4px;
}

.globe {
    width: 28px;
    height: 33px;
    background-position: -44px -4px;
}

.magn {
    width: 32px;
    height: 32px;
    background-position: -80px -4px;
}

.tabl {
    width: 32px;
    height: 32px;
    background-position: -120px -4px;
}

.tab-text2 {
  font-size: 46px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #02918c;
  text-transform: uppercase;
}

.table-text2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #7e8287;
    width: 162px;
    line-height: 21.5px;
    margin-top: 20px;
    margin-bottom: 14px;
}

/*...Рабочая зона и работы...*/
.work-zone {
  text-align: center;
}

.text1-aside {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #7e8287;
  line-height: 34.5px;
  width: 615px;
  margin: 0 auto;
  padding-bottom: 46px;
}

.zone-fons {
  margin-top: 28px;
  width: 100%;
  overflow: hidden;
}

.fons {
  width: 25%;
  float: left;
  height: 238px;
  cursor: pointer;
}

.fons:hover .zone-hiden {
  display: block;
}

.part1 {
  background: url('../image/glases.jpg') no-repeat center center;
  background-size: cover;
}
.part2 {
  background: url('../image/list.jpg') no-repeat center center;
  background-size: cover;
}
.part3 {
  background: url('../image/car.jpg') no-repeat center center;
  background-size: cover;
}
.part4 {
  background: url('../image/swan.jpg') no-repeat center center;
  background-size: cover;
}
.part5 {
  background: url('../image/banana.jpg') no-repeat center center;
  background-size: cover;
}
.part6 {

  background: url('../image/dog.jpg') no-repeat center center;
  background-size: cover;
}
.part7 {
  background: url('../image/hair.jpg') no-repeat center center;
  background-size: cover;
}
.part8 {
  background: url('../image/woman.jpg') no-repeat center center;
  background-size: cover;
}

.form-contact {
  text-align: center;
}

.zone-hiden {
  display: none;
  margin: 20px 27px;
  background: rgba(2, 145, 140, 0.8);
  padding-top: 50px;
  padding-left: 53px;
  padding-right: 44px;
  padding-bottom: 44px;
}



.zone-log {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  padding-bottom: 14px;
}

.zone-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #ffffff;
    line-height: 21.5px;
}

/*...Подвал, форма, логотип...*/
.form {
  background: #0b0b0b;
  padding-top: 18px;
}

.massage {
  display: block;
  min-width: 100px;
}

.option {
  padding-top: 43px;
  border-bottom: 1px solid #898989;
  width: 637px;
  margin: 0 auto;
}

.put {
  display: block;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #898989;
  background: #0b0b0b;
  text-align: center;
  margin-bottom: 18px;
  margin: 18px auto;
  text-transform: uppercase;
}

.option2 {
  padding-top: 29px;
  border-bottom: 1px solid #898989;
  margin: 0 auto;
  width: 914px;
}

.send {
  border: none;
  padding: 13px 62px;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 14px;
  background: #cfc91d;
  margin-top: 66px;
  margin-bottom: 62px;
  cursor: pointer;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-c {
  padding-top: 38px;
  padding-bottom: 27px;
  margin: 0 auto;
  text-align: center;
  background: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #898989;
}
